@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1E1E1E;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.gradient {
  position: absolute;
  width: 1860.38px;
  height: 2773.81px;
  left: 1300px;
  top: -999.93px;
  z-index: -1;
  background-image: linear-gradient(to right top, #46244c, #59296b, #682f8d, #7338b2, #7743db);
  transform: rotate(-41deg);
}

.center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.lightBg {
  width: 1380px;
  height: 550px;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(2px);
  border-radius: 10px;

}

.circle {
  position: absolute;
  width: 700px;
  height: 720px;
  left: -320px;
  top: 1200px;
  z-index: -1;
  border-radius: 100%;
  background: rgb(88, 21, 141);
  background: linear-gradient(90deg, rgba(119, 67, 219, 1), 44%, rgba(88, 21, 141, 1) 0%, rgba(148, 12, 213, 1) 100%);
}

.circleBlur{
  position: absolute;
  width: 836px;
  height: 822px;
  left: 1101px;
  top: 1742px;
  border-radius: 50%;
  background: rgba(217, 217, 217, 0.15);
  filter: blur(75px);
  z-index: -1;
}

.bgCard{
  background-color: #AFAAB8;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
  width: 370px;
  height: 520px;
  border-radius: 8px;
}

.bgCard img{
  position: relative;
  top: -30px;
  height: 320px;
  width: 260px;
  z-index: 1;
}

