@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1E1E1E;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.gradient {
  position: absolute;
  width: 1860.38px;
  height: 2773.81px;
  left: 1300px;
  top: -999.93px;
  z-index: -1;
  background-image: linear-gradient(to right top, #46244c, #59296b, #682f8d, #7338b2, #7743db);
  transform: rotate(-41deg);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
}

.lightBg {
  width: 1380px;
  height: 550px;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(2px);
  border-radius: 10px;

}

.circle {
  position: absolute;
  width: 750px;
  height: 720px;
  left: -320px;
  top: 1250px;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.4;
  background: rgb(88, 21, 141);
  background: linear-gradient(90deg, rgba(88, 21, 141, 1) 0%, rgba(148, 12, 213, 1) 100%);
}

.circleBlur {
  position: absolute;
  width: 836px;
  height: 822px;
  left: 1101px;
  top: 1742px;
  border-radius: 50%;
  background: rgba(217, 217, 217, 0.15);
  filter: blur(75px);
  z-index: -1;
}

.bgCard {
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
  width: 310px;
  height: 430px;
  border-radius: 8px;
  background-color: #fff;
}

.bgCard img {
  position: relative;
  height: 350px;
  width: 310px;
  bottom: 90px;
  border-radius: 8px;
}

.textsBg {
  position: absolute;
  width: 310px;
  height: 90px;
  
}

.content {
  width: 380px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s;
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: 2s;
}

.gradientFinal {
  position: absolute;
  z-index: -1;

  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 800px solid transparent;
  border-bottom: 450px solid #682f8d;
  transform: rotate(0deg);
}

@media (max-width: 640px) {
  .gradient {
    display: none;
  }

  .circleBlur {
    display: none;
  }

  .lightBg {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 1000px;
    height: 1100px;
  }

  .aside {
    position: absolute;
    top: 610px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contentMain img {
    position: absolute;
    top: 120px;
    left: 50px;
    height: 500px;
  }

  .contentMain h1,
  .contentMain p {
    text-align: left;
  }

  #intro {
    margin-top: 20rem;
  }

  #Poligonosos {
    position: absolute;
    top: 250px;
    left: 700px;
  }

  .footer {
    display: none;
  }

  #footer {
    position: absolute;
    left: 200px;
  }

}